[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
</style>

<div class="section" id="vue-target" v-cloak>
    <h1 class="title is-3 has-text-centered">
        <img src="images/fighting.gif" alt="Group Icon" class="group-icon" style="width: 200px; height: 200px;">
    </h1>
    <h1 class="title is-3 has-text-centered" v-if="active_group==null">no active group at this time...</h1>

    <template v-if="game_ended==false && active_group!=null"> 
        <h1 class="title is-3 has-text-centered" v-if="active_group!=null">current game session : {{active_group.creator}}'s group </h1>
        <h1 class="title is-4 has-text-centered ">30 seconds until a winner is crowned</h1>
        <h1 class="title is-4 has-text-centered ">click on someone's name to vote them as the assasin</h1>
    </template>
    <template v-if="game_ended==true">
        <h1 class="title is-3 has-text-centered">game has ended! </h1>
        <h1 style="margin-bottom: 20px;">&nbsp;</h1>
        <h1 class="title is-3 has-text-centered">{{killed}} was killed</h1> 
    </template>

    <h1 style="margin-bottom: 20px;">&nbsp;</h1>


    <h1 v-if="winner==current_assasin && game_ended==true" class="title is-3 has-text-centered"> The assasin, {{assasin_nickname}} wins!</h1>
    <h1 v-if="winner!=current_assasin && game_ended==true" class="title is-3 has-text-centered">Bystanders win! the assasin was {{assasin_nickname}}</h1>
    <h1 class="title is-4 has-text-centered" v-if="game_ended==false && active_group!=null">{{timer}}</h1>
    <template v-if="game_ended == false">
        <template v-for="player in players" v-if="player.group_id==active_group.id">
            <a class="button tag is-info" @click="vote(player.id, player.nickname)">{{player.nickname}}</a>
            <span v-if="player.username == currentUser"> vote casted: {{player.vote}}</span>
            <h1 style="margin-bottom: 10px;">&nbsp;</h1>
        </template>
    </template>

    <a v-if="game_ended==true" class="button is-primary " href="[[=URL('group_page', signer=url_signer)]]">
        <span class="icon"></span> 
        <span>Back to groups</span>
    </a>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_users_url = "[[=XML(get_users_url)]]";
  let get_groups_url = "[[=XML(get_groups_url)]]";
  let create_group_url = "[[=XML(create_group_url)]]"; 
  let change_id_url = "[[=XML(change_id_url)]]"; 
  let delete_group_url = "[[=XML(delete_group_url)]]"; 
  let vote_player_url = "[[=XML(vote_player_url)]]";
  let set_inactive_url = "[[=XML(set_inactive_url)]]"; 
  let add_win_url = "[[=XML(add_win_url)]]"; 
</script>

<script src="js/game_page.js"></script>
[[end]]
