[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
</style>

<div class="section" id="vue-target" v-cloak>

     <!-- Button to redirect us to statisitics page from our controllers.py -->

    <a class="button is-primary" href="[[=URL('statistics_page', signer=url_signer)]]">
        <span class="icon"></span>
        <span>Go to statistics</span>
    </a>
    <!-- Button to redirect us to index page from our controllers.py -->
    <a class="button is-primary" href="[[=URL('index', signer=url_signer)]]">
        <span class="icon"></span> 
        <span>Back to home page</span>
    </a>



    <h1 class="title is-3 has-text-centered">
        <img src="images/wizard.jpg" alt="Group Icon" class="group-icon" style="width: 200px; height: 200px;">
        <span class="is-size-4">Group Page</span>
    </h1>
    <h1 class="tag is-link is-dark is-medium">Must have 3 players in a group to start</h1>
    <h1 class="tag is-link is-dark is-medium">You can only join groups that do not have another user in them!</h1>
    <h1 class="tag is-link is-dark is-medium"> Once you join, you must guess who the assasin is! </h1>
    
    <h1 style="margin-bottom: 20px;">&nbsp;</h1>
    <h2> 
        <!-- we create a group and change the user's group id to new group -->
        <button class="button is-link" @click="create_group">create a group!</button>
    </h2>

    <!-- Button to redirect us to game_page from our controllers.py -->
    <a v-if="active_group != null" class="button is-primary is-flex justify-content-center" href="[[=URL('game_page', signer=url_signer)]]">
        <span class="icon"></span> 
        <span class="is-centered">{{active_group.creator}}'s group is active</span>
        <h1 style="margin-bottom: 20px;">&nbsp;</h1>
        <span>click here to go it </span>
    </a>
    
    <h1 style="margin-bottom: 20px;">&nbsp;</h1>

    <h2 v-for="group in groups">
        <!-- SHOW ALL GROUPS with active creators HERE -->
        <div class="group-wrapper">
            <!-- add_yourself() function from vue script is called once button is pressed. We send the id of the group they click on-->
            <a class="button" @click="add_yourself(group.id)">{{group.creator}}'s group</a>
            <!-- If the group is a bot or not, we show it in green/red to show that you can join bot groups but cannot join human groups -->
            <span class="tag is-primary" v-if="group.bot==true">Bot group. Join Here!</span> 
            <span class="tag is-danger" v-if="group.bot!=true">Joining user groups are unavailable at this time</span>
            <span class="tag is-yellow">total players: {{group.total_players}}</span>
            <!-- if the total players ingroup is >= 3 then you are allowed to set it as your active group -->
            <a v-if="group.total_players >= 3" class="button is-primary" @click="start_game(group.id)">
                <span class="icon"></span> 
                <span>set active</span>
            </a>
        </div>
        <!-- displaying all players in associated group by using our id linkage -->
        <template v-for="player in players" >
            <h2 v-if="group.id === player.group_id">
                <div>
                    <span class="tag is-info">{{player.username}}</span>
                </div>
            </h2>
        </template>
    </h2>

 

    <h1 style="margin-bottom: 20px;">&nbsp;</h1>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_users_url = "[[=XML(get_users_url)]]";
  let add_player_url = "[[=XML(add_player_url)]]";
  let get_groups_url = "[[=XML(get_groups_url)]]";
  let create_group_url = "[[=XML(create_group_url)]]"; 
  let change_id_url = "[[=XML(change_id_url)]]"; 
  let delete_group_url = "[[=XML(delete_group_url)]]"; 
  let set_active_url = "[[=XML(set_active_url)]]";
</script>

<script src="js/group_page.js"></script>
[[end]]
